.tab_menu_block {
    display: flex;
    flex-direction: row;
    gap: 10px
}
.tab_menu_block>li {
    background: #F2F2F2;
    border: 2px solid #CCCC;
    border-radius: 5px;
    padding: 5px;
}
.tab_menu_block>li>a {
    color: #000000;
}