.video_block {
    margin: 20px 0;
    position: relative;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video_item {
}
.video_item-image {
    width: 350px;
    height: 200px;
    border-radius: 20px;
    background-color: #F8F8F8;
}
.video_item-channel_img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #000000;
}
.video_item_info_block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: inherit;
}

.video_item_text_block {
    width: 100%;
}